<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset="UTF-8">
        <title>Mission to Mars</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      
    </head>

    <body>
        <div class='container'>
            <div class='jumbotron text-center'>
                <h1>Mission to Mars</h1>
                <p><a class="btn btn-primary btn-lg" href="../scrape" role="button">Scrape New Data</a></p>

            </div>
            
            <div class='row'>
                <div class='col-md-12'>
                    <h2>Latest Mars News</h2>
                    
                    <h3 style='font-size: 20px'>{{ mars_info.news_title }}</h3>
                    <p>{{ mars_info.news_p }}</p>
                </div>
            </div>

            <div class='row'>
                <div class='col-md-7'>
                    <h2>Featured Mars Image</h2>
                    <img src='{{mars_info.featured_image_url}}' alt='Featured Image' style='height: 550px; width:550px'> 
                </div>
                <div class = 'col-md-5'>
                    <h3 style='font-size: 20px'>Mars Facts</h3>
                    <table class='table table-sm table-bordered table-striped' class='dataframe'>
                        <thead>
                            <tr style="text-align: left;">
                              <th></th>
                              <th>Mars</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th>Equatorial Diameter:</th>
                              <td>6,792 km</td>
                            </tr>
                            <tr>
                              <th>Polar Diameter:</th>
                              <td>6,752 km</td>
                            </tr>
                            <tr>
                              <th>Mass:</th>
                              <td>6.39 × 10^23 kg (0.11 Earths)</td>
                            </tr>
                            <tr>
                              <th>Moons:</th>
                              <td>2 (Phobos &amp; Deimos)</td>
                            </tr>
                            <tr>
                              <th>Orbit Distance:</th>
                              <td>227,943,824 km (1.38 AU)</td>
                            </tr>
                            <tr>
                              <th>Orbit Period:</th>
                              <td>687 days (1.9 years)</td>
                            </tr>
                            <tr>
                              <th>Surface Temperature:</th>
                              <td>-87 to -5 °C</td>
                            </tr>
                            <tr>
                              <th>First Record:</th>
                              <td>2nd millennium BC</td>
                            </tr>
                            <tr>
                              <th>Recorded By:</th>
                              <td>Egyptian astronomers</td>
                            </tr>
                          </tbody>
                    </table>
                </div>
            </div>
            <br>
            <br>
            <div class='row'>
                <div class='col-md-12'>
                    <h3 style='text-align: center'>Mars Hemispheres</h3>
                    <hr>
                </div>
            </div>
            <div class='row'>
                {% for i in mars_info.hemisphere_image_urls %}
                <div class='col-6'>
                    <img src='{{ i.img_url}}' style='height: 300px; width:300px;' class="mx-auto d-block">
                    <h3 style='font-size: 20px; text-align: center;'>{{i.title}}</h3>
                </div>
                {% endfor %}
            </div>

        </div>
                

    </body>
</html>